<!--<div class="welcome">Welcome to our blog</div>
<ul class="posts">
    <li class="post" ng-repeat="post in posts">
        {{post.title+" "+post.id}}
    </li>
</ul>-->


<!--<html lang="en">-->

<body>
<a name="top"> </a>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#">Home</a>
            <a class="blog-nav-item" href="#">New features</a>
            <a class="blog-nav-item" href="#">Press</a>
            <a class="blog-nav-item" href="#">New hires</a>
            <a class="blog-nav-item" href="#">About</a>
        </nav>
    </div>
</div>

<div class="container">

<div class="blog-header">
    <h1 class="blog-title">Welcome to our Blog</h1>

    <p class="lead blog-description">Welcome!</p>
    <button ng-click="writeAttempt()" ng-show="loginResult">Write new post</button>
    <button ng-click="clearFunc()">Clear Data</button>
    <p>{{writeAttemptResultString}}</p>
</div>




<div class="col-sm-8 blog-main" ng-show = "writepost">
    <dl>
        <dt> Title: </br><input ng-model="postTitle"> </dt>
        <dt> Category: </br><input ng-model="postCategory"> </dt>
        <dt> Text: </br><textarea rows="10" cols="50" ng-model="postText"></textarea> </dt>
        <dt><button ng-click="writePost(postTitle, postCategory, postText); writepost=!writepost">Ok</button></dt>
    </dl>
</div>





<div class="row" ng-hide = "writepost">
<div class="col-sm-8 blog-main">

    <!--ng-show="post.datecode===desiredMonth || allDisplayed"-->
    <div class="post" ng-repeat="post in topPostsArray" >
        <!--{{post.title+" "+post.id}}-->

        <h2 class="blog-post-title">{{post.title}}</h2>

        <p class="blog-post-meta">{{post.date}} by <a href="#">{{post.author}}</a> in <i>{{post.category}}</i></p>
        <p>{{post.content}}</p>
        <!--<p>This blog post shows a few different types of content that's supported and styled with Bootstrap.
            Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere
            consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare
                vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
            fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>

        <h2>Heading</h2>

        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo
            luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
            consectetur ac, vestibulum at eros.</p>

        <h3>Sub-heading</h3>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>

        <h3>Sub-heading</h3>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia
            bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
            risus.</p>
        <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>-->


    </div>


    <!-- <div class="blog-post">
         <h2 class="blog-post-title">Sample blog post</h2>
         <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

         <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
         <hr>
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
             <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
             <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
             <li>Donec id elit non mi porta gravida at eget metus.</li>
             <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
             <li>Vestibulum id ligula porta felis euismod semper.</li>
             <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
             <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
     </div>

     <div class="blog-post">
         <h2 class="blog-post-title">Another blog post</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
             <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
     </div>

     <div class="blog-post">
         <h2 class="blog-post-title">New feature</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
             <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
             <li>Donec id elit non mi porta gravida at eget metus.</li>
             <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
     </div><!-- /.blog-post -->

    <ul class="pager">

        <button ng-click="movePage('left')">Previous</button>
        <button ng-click="movePage('right')">Next</button>

    </ul>

</div>
<!-- /.blog-main -->

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="login">
        <style>

            input {
                width: 220px
            }
        </style>

        <!-- <form>
             <fieldset>
                 username: <input id="inuser" type="text" name="username"><br/>
                 password: <input id="inpassword" type="text" name="password"><br/>
                 <input type="submit" value="Submit"><br/>
             </fieldset>
         </form>-->

        <!--<div ng-controller="HomeController">-->

        <div id="welcomeMessage" ng-show="registerResult || loginResult">
            <p>Welcome {{usr}}! </p>
            <button ng-click="pressed = false; clearResults()">Logout</button>
        </div>


        <div id="registerForm" ng-show="pressed && !registerResult && !loginResult">
            username: <input name="registerUsernameField" ng-model="username">
            password: <input name="registerPasswordField" ng-model="password">
            <button ng-click="register(username,password)">Ok</button>
            <button ng-click="pressed=!pressed;clearResults()"> Cancel</button>

        </div>
        <p>{{registerResultString}}</p>

        <div id="loginForm" ng-show="!pressed && !registerResult && !loginResult">
            username: <input name="loginUsernameField" ng-model="user">
            password: <input name="loginPasswordField" ng-model="pass">
            <button name="loginButton" ng-click="login(user,pass)">Login</button>
            <button name="registerButton" ng-click="pressed=!pressed"> Register</button>

        </div>
        <p ng-show="!pressed">{{loginResultString}}</p>
        <!--<button ng-click="printout()">Test</button>
        <p>{{key}}</p>-->


    </div>

    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>

        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
            fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li> <button ng-click="allDisplayed()" style = "border: none;padding: 0;background: none; outline:0">See all</button></li>
            <li> <button ng-click="setMonth('feb2014');" style = "border: none;padding: 0;background: none; outline:0">February 2014</button></li>
            <li> <button ng-click="setMonth('jan2014');" style = "border: none;padding: 0;background: none; outline:0">January 2014</button></li>
            <li> <button ng-click="setMonth('dec2013');" style = "border: none;padding: 0;background: none; outline:0">December 2013</button></li>
            <li> <button ng-click="setMonth('nov2013');" style = "border: none;padding: 0;background: none; outline:0">November 2013</button></li>
            <li> <button ng-click="setMonth('oct2013');" style = "border: none;padding: 0;background: none; outline:0">October 2013</button></li>
            <li> <button ng-click="setMonth('sep2013');" style = "border: none;padding: 0;background: none; outline:0">September 2013</button></li>
            <li> <button ng-click="setMonth('aug2013');" style = "border: none;padding: 0;background: none; outline:0">August 2013</button></li>
            <li> <button ng-click="setMonth('jul2013');" style = "border: none;padding: 0;background: none; outline:0">July 2013</button></li>
            <li> <button ng-click="setMonth('jun2013');" style = "border: none;padding: 0;background: none; outline:0">June 2013</button></li>
            <li> <button ng-click="setMonth('may2013');" style = "border: none;padding: 0;background: none; outline:0">May 2013</button></li>
            <li> <button ng-click="setMonth('apr2013');" style = "border: none;padding: 0;background: none; outline:0">April 2013</button></li>
            <li> <button ng-click="setMonth('mar2013');" style = "border: none;padding: 0;background: none; outline:0">March 2013</button></li>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
        </ol>
    </div>
</div>
<!-- /.blog-sidebar -->

</div>
<!-- /.row -->





</div>
<!-- /.container -->

<div class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>

    <p>
        <a href="#top">Back to top</a>
    </p>
</div>


</body>
<!--</html>-->
